<footer class="footer-oficina text-center text-lg-start">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="me-5 d-none d-lg-block">
      <span>Redes sociais:</span>
    </div>

    <div>
      <a
        href="https://www.facebook.com/profile.php?id=61578792843865"
        class="me-4 text-reset"
        target="_blank"
        aria-label="Facebook"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
      <a
        href="https://www.instagram.com/autocentersilvaa"
        class="me-4 text-reset"
        target="_blank"
        aria-label="Instagram"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        href="https://wa.me/554599051549"
        class="me-4 text-reset"
        target="_blank"
        aria-label="WhatsApp"
      >
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links -->
  <section>
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Horário de atendimento
          </h6>
          <p>Segunda à sexta: 07h30 - 18h00</p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Institucional</h6>
          <p><a href="javascript:void(0)" class="text-reset">Quem somos</a></p>
          <p>
            <a href="javascript:void(0)" class="text-reset">Nossas marcas</a>
          </p>
          <p>
            <a href="javascript:void(0)" class="text-reset">Fale conosco</a>
          </p>
          <p>
            <a href="javascript:void(0)" class="text-reset"
              >Política de cookies</a
            >
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Ajuda</h6>
          <p><a href="javascript:void(0)" class="text-reset">Devolução</a></p>
          <p><a href="javascript:void(0)" class="text-reset">Garantia</a></p>
          <p><a href="javascript:void(0)" class="text-reset">Privacidade</a></p>
          <p><a href="javascript:void(0)" class="text-reset">Segurança</a></p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
          <p>
            <i class="fas fa-home me-3"></i>Av. Beira Rio, 24, Vila Portes, Foz
            do Iguaçu - PR
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>autocentersilvamkt&#64;gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i>(45) 99905-1549</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Links -->

  <div class="text-center p-4 faixa-copyright">
    © {{ anoAtual }} Auto Center Silva. Todos os direitos reservados.
  </div>
</footer>
